<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta http-equiv="content-security-policy" content="script-src 'self'; object-src 'none'">
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
  <title>Bookmark</title>
</head>
<body>
  <div class="container">
    <div class="row">
    <div class="col-md-4">
      <label for="validationCustom01" class="form-label">name</label>
      <input type="text" class="form-control" id="name" value="" placeholder="myblog">
    </div>
    <div class="col-md-4">
      <label for="validationCustom02" class="form-label">url</label>
      <input type="text" class="form-control" id="url" value="" placeholder="https://tokuty.hatenablog.com/">
    </div>
    <div class="col-12">
      <button class="btn btn-primary" id="linkNameRegister" type="submit">Register</button>
    </div>
  <div contents id="contents">
  </div>
<script src="../js/index.js"></script>
</body>
</html>